<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.workbench.texteditor.spellingEngine">
      <engine
            class="cn.devit.jdt.spelling.Engine1"
            default="false"
            id="cn.devit.jdt.spelling.engine1"
            label="extend default spelling engine"
            preferencesClass="cn.devit.jdt.spelling.ExtendSpellingPreferenceBlock">
      </engine>
   </extension>
</plugin>
